<div class="container">
    <div class="row">
      <div class="col">
        <h3><span class="badge badge-info">Model driven form</span></h3>    
          <app-model-form></app-model-form>
        <h3><span class="badge badge-danger">Reactive Search form</span></h3>    
          <app-reactive-search-form></app-reactive-search-form>
      </div>
      <div class="col">
        <h3><span class="badge badge-success">Template driven form</span></h3>      
        <app-template-form></app-template-form>
      </div>
    </div>
</div>
